version: '3.8'

services:
  app:
    build: app
    expose:
      - "8000"
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - app_network
      - immich_default
    depends_on:
      - db


  db:
    image: postgres:17
    container_name: postgres_db_immich
    env_file:
      - .env
    volumes:
      - ./data/postgres_data:/var/lib/postgresql/data  # Volume для хранения данных PostgreSQL
    ports:
      - "5432:5432"
    networks:
      - app_network

networks:
  immich_default:
    external: true
  app_network:
    driver: bridge